
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Animation for Create new item Form*------------------------------*/
@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.animate-typing {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 2s steps(15, end) infinite;
}
.info:hover{
  background-color: rgb(11, 11, 11);
  cursor: pointer;
  opacity: 50%;
}
.li-class, .li-class-1{
  font-size: 10px;
  line-height: 25px;
  text-align: center;
  color: grey;
}
.footer-text{
  font-size: 15px;
  font-weight: 500;
  color:#00df9a;
}
/* ------------------------------------------END--------------------- */

/* 
font-family: 'Fjalla One', sans-serif;
font-family: 'Great Vibes', cursive;
font-family: 'Mohave', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Victor Mono', monospace;
font-family: 'Young Serif', serif;
*/


body{
  background-color: #000300;
  color: white;
}


.animate-typing{
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
}
.addShopping{
  background-image: url("https://motionarray.imgix.net/preview-266066-1vnOmCVvb5-high_0000.jpg?w=660&q=60&fit=max&auto=format");
  /* opacity: 50%; */
}
.formItem h2{
  text-align: center;
  font-size: 1.7em;

}
.createInput{
  opacity: 60%;
}
/* Footer=================== */
.foot {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
 background-color: rgba(67, 65, 65, 0.1);
 padding:10px ;
}

.footerImg {
  border-radius: 50%;
  height: 8em;
}

.services, .logo, .notice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  text-align: center;
}

/* Media query */
@media only screen and (max-width: 425px) and (min-width:220px){
  .foot{
    display: none;
  }
  .animate-typing{
    font-family: 'Roboto', sans-serif;
    /* font-size: 1.3em; */
  }

  .navBarright{
    /* font-size: 12px; */
    padding: 8px;
  }
  .shopify{
    padding-left: 10px;
  }

  /* Carousel Container */
  .carouselImage{
    height: 15.2em;
  }

  .carouselContainer{
    padding:10px;
  }
  .carouselContainer img{
    border-radius: 15px;
  }
 
  .addShopping{

    /* margin-top: 1em; */
    padding:0 5px 0px 5px
   
  }


  /* Create FORM */

  .formItem h2{
    font-size: 1.7em;
    padding-bottom: 15px;
  
  }
  .inputFields{
    margin-bottom:-10px;
    padding: 5px 20px;
  }
  .createInput{
    margin: 0px 60px 0px 60px;
    opacity: 60%;
  }
  .allItems{
    display: grid;
    /* grid-template-columns: 1fr; */
    height: 18em;
    overflow-y: auto;
  }
  .itemList{
    font-size: 1.2em;
    text-align: center;
  }
  .itemNameIndex{
    /* width: 20px; */
    text-align: center;
  }
  .allItemImg{
    height: 8em;
    width: 100%;
    padding: 0 30px 0 30px;
    /* display: flex;
    justify-content: center; */
  }
  /* //////////////////////////////////////SHOW PAGE/////////////////////////////////////// */
  .showImage{
    display: block;
    margin: 0 auto;
    padding:2em;
    width: 20em;
    height:20em;
    border-radius: 3em;
  }
  .showImage:hover{
    opacity: 50%;
  }
  .showDetails{
    margin-top: 0.5em;;
  }

  .detailInfo{
    width: 80%;
    display: block;
    margin: 0 auto;
    margin-top: 1em;
  }
  .tableDefination{
    font-size: 1em;
  }
  .updateTitle{
    font-size: 1.4em;
    font-weight: bold;
    margin-top: 0.5em;
  }
  .updateInput{
    width: 15em;
    display: block;
    margin: 0 auto;
  }
  .allInputUpdate{
    opacity: 50%;
  }

  .updateButton{
    position: absolute;
    margin-left:2em;
    margin-top:0.5em;
    font-size: 1.2em;
  }
  .deleteButton{
    position: absolute;
    bottom: 0;
    right:0;
    margin-right: 1.7em;
    margin-bottom: 10.4em;
    width: 5em;
    font-size: 1.2em;
  }

}


@media only screen and (max-width: 768px) and (min-width:426px){

/* Form Element */
.formItem h2{
  font-size: 1.7em;
  padding-bottom: 15px;

}
.inputFields{
  margin-bottom:-10px;
  padding: 5px 20px;
}
.createInput{
  margin: 0px 60px 0px 60px;
  opacity: 60%;
}
.buttonAdd{
  padding:10px;
  font-size:20px
}
.buttonMain{
  padding:0px 20px 0px 20px;
  margin-top:20px;
}


  .formSale{
    display:grid;
    grid-template-columns: 2fr 2fr;
  }
  .allItems{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
   
  }
  .allItemImg{
    height: 10em;
    width: 100%;
    padding: 14px;
    border-radius: 20px;

  }
  .itemNameIndex{
    /* width: 20px; */
    text-align: center;
  }
  .carouselImage{
    min-height: 400px;
    border-radius:20px;
  }
  .marquee {
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    animation: marquee 7s linear infinite;
  }
  .itemList{
    font-size: 1.8em;
    text-align: center;
  }
  .allItemImg:hover{
    transform: scale(1.1);

  }
  .allItems{
    display: grid;
    /* grid-template-columns: 1fr; */
    height: 21em;
    overflow-y: auto;
  }
  /* //////////////////////////////////////SHOW PAGE/////////////////////////////////////// */
  .showImage{
    display: block;
    margin: 0 auto;
    padding:2em;
    width: 30em;
    height:30em;
    border-radius: 3em;
  }
  .showImage:hover{
    opacity: 50%;
  }
  .showDetails{
    margin-top: 1em;
  }

  .detailInfo{
    width: 80%;
    display: block;
    margin: 0 auto;
    margin-top: 2em;

  }
  .tableDefination{
    font-size: 1em;
  }
  .updateTitle{
    font-size: 1.4em;
    font-weight: bold;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
  }
  .updateInput{
    width: 20em;
    display: block;
    margin: 0 auto;
    padding: 0.3em;
  }
  .allInputUpdate{
    opacity: 50%;
  }

  .updateButton{
    position: absolute;
    margin-left:8.2em;
    bottom: 0;
    margin-bottom:1.3em;
    font-size: 1.2em;
  }
  .deleteButton{
    position: absolute;
    bottom: 0;
    right:0;
    margin-right: 7.7em;
    margin-bottom: 1.3em;
    width: 5em;
    font-size: 1.2em;
  }
     /* //////////////////////////////////////SHOW PAGE/////////////////////////////////////// */
     .showImage{
      display: block;
      margin: 0 auto;
      padding:2em;
      width: 80em;
      height:30em;
      border-radius: 3em;
    }
    .showImage:hover{
      opacity: 50%;
    }
    .showDetails{
      margin-top: 0.5em;;
    }
  
    .detailInfo{
      width: 80%;
      display: block;
      margin: 0 auto;
      margin-top: 1em;
      height: 100%;
    }
    .tableDefination{
      font-size: 1em;
    }
    .updateTitle{
      font-size: 1.4em;
      font-weight: bold;
      margin-top: 0.2em;
      margin-bottom: 0.2em;
    }
    .updateInput{
      width: 20em;
      display: block;
      margin: 0 auto;
      padding: 0.3em;
    }
    .allInputUpdate{
      opacity: 50%;
    }
  
    .updateButton{
      position: absolute;
      margin-left:8.2em;
      bottom: 0;
      margin-bottom:1.3em;
      font-size: 1.2em;
    }
    .deleteButton{
      position: absolute;
      bottom: 0;
      right:0;
      margin-right: 7.7em;
      margin-bottom: 1.3em;
      width: 5em;
      font-size: 1.2em;
    }
  


}

@media only screen and (max-width: 1024px)and (min-width: 768px){
/* Nav///////////////////// */

.shopify{
  padding-left: 10px;
}
  /* Form Element */
.formItem h2{
  font-size: 1.5em;
  /* padding-bottom: 15px; */

}
.inputFields{
  /* margin:10px 0px 0px 0px; */
  padding: 5px 25px 5px 25px ;
}
.createInput{
  margin: 0px 60px 0px 60px;
  opacity: 75%;
}
.buttonAdd{
  padding:10px;
  font-size:15px
}
.buttonMain{
  padding:0px 20px 0px 20px;
  /* margin-top:20px; */
}


  .formSale{
    display:grid;
    grid-template-columns: 1fr 1fr;
    height: 450px;
  }
  .formItem{
    height: 450px;
  }
  .allItems{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
   
  }
  .allItemImg{
    height: 10em;
    width: 100%;
    padding: 14px;
    border-radius: 20px;

  }
  .itemNameIndex{
    /* width: 20px; */
    text-align: center;
  }
  .carouselImage{
    height: 400px;
    border-radius:20px;
  }
  .carouselContainer{
    padding: 10px 0px 0px 10px;
  }
  .marquee {
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    animation: marquee 7s linear infinite;
  }
  .itemList{
    font-size: 1.8em;
    text-align: center;
  }
  .allItemImg:hover{
    transform: scale(1.1);

  }
  .allItems{
    display: grid;
    height: 21em;
    overflow-y: auto;
  }
   /* //////////////////////////////////////SHOW PAGE/////////////////////////////////////// */
   .showDescriptionflex{
    display: grid;
    grid-template-columns: 3fr 2fr;
   }
   .showImage{
    display: block;
    margin: 0 auto;
    padding:2em;
    width: 80em;
    height:40em;
    border-radius: 3em;
  }
  .showImage:hover{
    opacity: 50%;
  }
  .showDetails{
    margin-top: 1.5em;
  }

  .detailInfo{
    width: 90%;
    display: block;
    margin: 0 auto;
    margin-top: 2em;
  }
  .tableDefination{
    font-size: 1em;
  }
  .updateTitle{
    font-size: 1.4em;
    font-weight: bold;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
  }
  .updateInput{
    width: 20em;
    display: block;
    margin: 0 auto;
    padding: 0.3em;
  }
  .allInputUpdate{
    opacity: 50%;
  }

  .updateButton{
    position: absolute;
    margin-left:8.2em;
    bottom: 0;
    margin-bottom:1.3em;
    font-size: 1.2em;
  }
  .deleteButton{
    position: absolute;
    bottom: 0;
    right:0;
    margin-right: 7.7em;
    margin-bottom: 1.3em;
    width: 5em;
    font-size: 1.2em;
  }


}


@media only screen and (max-width: 1840px) and (min-width:1025px){
  /* Nav///////////////////// */
  
  .shopify{
    padding-left: 10px;
  }
    /* Form Element */
  .formItem h2{
    font-size: 1.5em;
    /* padding-bottom: 15px; */
  
  }
  .inputFields{
    /* margin:10px 0px 0px 0px; */
    padding: 5px 25px 5px 25px ;
  }
  .createInput{
    margin: 0px 60px 0px 60px;
    opacity: 75%;
  }
  .buttonAdd{
    padding:10px;
    font-size:15px
  }
  .buttonMain{
    padding:0px 20px 0px 20px;
    /* margin-top:20px; */
  }
  
  
    .formSale{
      display:grid;
      grid-template-columns: 1fr 1fr;
      height: 450px;
    }
    .formItem{
      height: 450px;
    }
    .allItems{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
     
    }
    .allItemImg{
      height: 8em;
      width: 100%;
      padding: 8px;
      border-radius: 20px;
  
    }
    .itemNameIndex{
      /* width: 20px; */
      text-align: center;
    }
    .carouselImage{
      height: 400px;
      border-radius:20px;
    }
    .carouselContainer{
      padding: 10px 0px 0px 10px;
    }
    .marquee {
      white-space: nowrap;
      overflow: hidden;
      box-sizing: border-box;
      animation: marquee 7s linear infinite;
    }
    .itemList{
      font-size: 1.8em;
      text-align: center;
    }
    .allItemImg:hover{
      transform: scale(1.1);
  
    }
    .allItems{
      display: grid;
      height: 21em;
      overflow-y: auto;
    }
       /* //////////////////////////////////////SHOW PAGE/////////////////////////////////////// */
   .showDescriptionflex{
    display: grid;
    grid-template-columns: 3fr 2fr;
   }
   .showImage{
    display: block;
    margin: 0 auto;
    padding:2em;
    width: 80em;
    height:40em;
    border-radius: 3em;
  }
  .showImage:hover{
    opacity: 50%;
  }
  .showDetails{
    margin-top: 1.5em;
  }

  .detailInfo{
    width: 90%;
    display: block;
    margin: 0 auto;
    margin-top: 2em;
  }
  .tableDefination{
    font-size: 1em;
  }
  .updateTitle{
    font-size: 1.4em;
    font-weight: bold;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
  }
  .updateInput{
    width: 20em;
    display: block;
    margin: 0 auto;
    padding: 0.3em;
  }
  .allInputUpdate{
    opacity: 50%;
  }

  .updateButton{
    position: absolute;
    margin-left:8.2em;
    bottom: 0;
    margin-bottom:1.3em;
    font-size: 1.2em;
  }
  .deleteButton{
    position: absolute;
    bottom: 0;
    right:0;
    margin-right: 7.7em;
    margin-bottom: 1.3em;
    width: 5em;
    font-size: 1.2em;
  }

  }